

body {
    background-color: #ffffe4;
	/*font-family: "times new roman", times, "sans serif";*/
	font-family: Arial;
	font-size: 125%;
	color: #003300;
}
.error {
	color: red;
}
#divProblems {
	padding-top:2.2em;
}

#backButton {
	display:none;
	cursor: pointer;
	position: absolute;
	left: 0.35em;
	top: 1.9em;
	z-index:-1;
}
#backButton:hover {
	color:#009933;
}
.leftArrow {
	width: 0; 
	height: 0; 
	display:inline-block;
	border-top: 0.30em solid transparent;
	border-bottom: 0.30em solid transparent; 
	border-right: 0.30em solid #003300; 
}
#searchli {
	/*border: 1px solid red;
	padding-bottom:1em;*/
}
#Search {
	border-radius:4px;
	margin-top:0;
	margin-bottom:0.3em;
	margin-left:0.3em;
	margin-right:0.3em;
	padding:0.2em;
	background: transparent;
	border: 1px solid #003300;
}
input[type=text] {
	border-radius:4px;
	margin-top:0;
	margin-bottom:0.3em;
	margin-bottom:0.3em;
	margin-left:0.3em;
	margin-right:0.3em;
	padding:0.2em;
	background: transparent;
	border: 1px solid #003300;
}
.not-allowed {
	cursor:not-allowed;
}
.textDiv {
	padding-top:3.5%;
}
/*drop down menu from: http://code-tricks.com/simple-css-drop-down-menu/ */
ul#menu, ul#menu ul.sub-menu {
	background-color: #003300 ;
    padding: 0;
    margin: 0;
	padding-top:5px;
	
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
	padding-right: 1em;
	padding-top: 0.2em;
}
ul#menu{
	border-bottom: 0.05em solid black;
	position:fixed;
	left:0;
	padding:0.2em;
	padding-top:0.3em;
	padding-bottom:0.1em;
	width:100%;
	z-index:10;
	top:0;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #ffffe0;
    display:inline-block;
	white-space: nowrap;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
ul#menu li:not([disabled]) a:hover {
    text-decoration: underline;
}
ul#menu li:not([disabled]) label:hover {
    text-decoration: underline;
}
.underline {
	text-decoration: underline!important;
}
ul#menu li label {
	color: #ffffe0;
    position: relative;
}
ul#menu li input {
	color: #ffffe0;
	border: 1px solid #ffffe0;
    position: relative;
}
ul#menu > li:first-child {
    margin-left:1.5em;
    margin-right:0em;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
	opacity: 0;
    position: absolute;
    top: 1.2em;
	padding-top:0.5em;
    left: 0;
    width: 5em;
}
ul#menu ul.sub-menu li {
	/*padding-top:0.3em;*/
	margin:0.4em;
	white-space:nowrap;
}
ul#menu > li:not([disabled]):hover ul.sub-menu {
    display:block;
	/*border-bottom: 0.05em solid black;*/
	opacity: 1;
	transition: opacity 0s linear 0.4s;
}

ul#menu li ul.sub-menu a:hover  {
	text-decoration:underline;
}
.MenuArrow {
	display:inline-block;
	width: 0; 
	height: 0; 
	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
	border-top: 0.25em solid #003300;
}
.MenuArrow-light {
	display:inline-block;
	width: 0; 
	height: 0; 
	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
	border-top: 0.25em solid #ffffe0;
}
#cmSort {
	color:#ffffe0; /* menu color light ffffe0, dark 003300 */
}
ul#menu .MenuArrow:hover ul.sub-menu {
    display:block;
}

/* Everything below is for the boxart styling */

#altContainer {
	margin:0;
	padding:0;
	font-size:150%;
	color: #003300;
}
div.episodeSeasonDiv {
	display: inline-block;
	float: left;	
	padding-right:15px;
	
	padding: 10px;
	/*min-width: 195px;*/
	width: 340px;
}
div.Movie div.episodeSeasonDiv {
	font-size: 80%;
	/*max-width: 320px;*/
	max-height: 195px;
	padding:.5em;
	width: 340px;
}
.lastWatchedEpisode a {
	/*text-decoration: underline;*/
	font-weight:bold;
}
div.Movie div.episodeSeasonDiv small {
	/*overflow:hidden;
	white-space:nowrap;
    text-overflow:ellipsis;*/
}
#fos {
	overflow:hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
div.episodeSeasonDiv  ol {
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	margin-left: 1em;
	margin-right: 1em;
	padding-left: 1em;
	float:left;
	display:inline-block;
}
div.episodeSeasonDiv  h3 {
	border-bottom: 1px solid #003300;
	margin:0.2em;
	margin-bottom:0.5em;
}


.episodeButton {
	 margin:0px;
	 outline:none;
	 color: #003300;
	vertical-align: top;
}
.episodeButton:hover {
	cursor:pointer;
	color:#009933;
}
div.CoverArt {
	min-width: 1px; /* //this one w154, h226, others w144, h216 */
	min-height: 288px;
	background-color: #ffffcc;
	display: block;
	float: left;  
	margin: 10px;
	padding:0;
	border-left: 5px solid lightgrey;
	/*box-shadow: 4pt 4pt 4pt grey;
	box-shadow: 2px 2px 5px 0px rgba(176,176,176,1);*/
	box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.23);
}
div.CoverArt figure {
  //width: 185px;
  width: 195px;
  //height: 278px;
  height: 288px;
  margin: 0;
  position: relative; 
  float: left;
  font-size: 1.6rem; 
  margin: 0;
  padding:0;
  
}
div.CoverArt figure img {
  width: 195px; /* //this one w154, h226, others w144, h216 */
  height: 288px;
  margin: 0;
  padding:0;
  z-index:1;
}
div.CoverArt figure:hover {
	cursor:pointer;
}
div.CoverArt.is720p { 
	border-left: 5px solid lightcoral;
	//box-shadow: 4pt 4pt 4pt lightcoral;
  /*border: 3px solid rgb(168,0,0);*/
}
div.CoverArt.is1080p { 
	border-left: 5px solid lightskyblue;
	//box-shadow: 4pt 4pt 4pt lightskyblue;
  /*border: 3px solid	#0040FF;*/
}


div.CoverArt:not(.Expanded):hover  {
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-top: 10px;
	width: 197px;
	height: 290px;
}
div.CoverArt.Expanded:hover  {
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-top: 10px; 
	width: auto!important;
	height: auto!important;
}
div.CoverArt:not(.Expanded):hover figure {
	width: 197px;
	height: 290px;
}
div.CoverArt:not(.Expanded):hover figure img {
	width: 197px;
	height: 290px;
}


div.CoverArt figure figcaption { 
  position: absolute; 
  width: 100%; height: 100%; top: 0;
  background: rgba(220,220,220,0); 
  /* //color: rgba(220,220,220,0);  */
  text-align: center; 
  font-size: 20px;
  padding-left: 2%;
  /* //padding-top: 45%;   */
}

big { 
	display:none;
	position:absolute;
	left:0;
	right:0;
	top:0;
	margin-left:0.25em;
	margin-right:auto;
	text-align: center; 
	font-size: 0.75em;
	margin-top: 55%;
}
big.MovieBoxLogo { 
	display:none;
	position:absolute;
	left: 0;
	right: 0;
	top: 30%;
	margin-left: auto;
 	margin-right: auto;
	text-align: center; 
	font-size: 0.75em;
	//font-weight:bold;
	font-size:650%
}
img.noBoxart + big.bigAlt {
	display:block!important;
}


.btn-boxart-small-bottom:hover {
	text-decoration:underline;
}

.TopLevelBoxArt:after {
	clear: both;
}

.LinkButton {
	color: #0000EE!important;
}
.LinkButton:hover {
	text-decoration: underline;
}
.DeleteButton:hover {
	transition: background-color 0.25s linear;	
	background-color: rgba(255,155,128,0.95); 
}


/* Table stuff */
table {
	/*margin-left:1em;	*/
	margin-top:2em;
	margin-bottom:2.5em;
	background-color: #ffffcc ;
	table-layout: fixed;
	width: auto;
	border: 1px single #003300;
	text-align: left;
	border-collapse: collapse;
	/* margin: 0 0 1em 0; */
	caption-side: top;
	color: #003300;
}

td{
	text-align: left;
	padding: 1em;
}

th {
	text-align: left;
	padding-bottom: .5em;
	padding-top: .5em;
	padding-left: 1em;
	padding-right: 1em;
}

td:first-child {
	text-align: left;
	width: auto;
}
table a:hover {
	color:#009933;
	text-decoration:underline;
}

underline {
	text-decoration:underline;
}

.link:hover {
	color:#009933;
	text-decoration:underline;
	cursor:pointer;
}
wrap-none {
	float:left;
	white-space:nowrap;
}
table tr {
	empty-cells: show;
    border-bottom: 1px solid #558000;
    border-collapse: collapse;
	
}​

table tr:first-child td {
    border-bottom: 2px solid #558000!important;
}​

#loadingContainer{
	margin-top:0.75em;
  width:100%;
  height:4px;
}

#loadingProgress{
  height:10px;
  width:0%;
  background-color:#009933;
  transition: width 0.5s ease-in;
}

#upperContainer {
	margin-top:2em;
	margin-bottom:2em;
	margin-left:1.5em;
	margin-right:1.5em;
	min-height:100%;
}

.invisible {
	visibility: hidden;
}

input[type='checkbox'] {
    width:20px;
    height:20px;
    background-color:#ffffe0;
    //border-radius:5px;
    //border:2px solid #003300;
}

input[type='checkbox'] {
    width:20px;
    height:20px;
	cursor:pointer;
}

label {
	cursor:pointer;
}

.btn-primary {
	padding:0.7em;
	font-size: 110%;
    background-color:#006600;
	color: #ffffe4;
    /*border-width:1px;
	border-radius:4px;
	border-style:outset;*/
	border-style:none;
}
.btn-secondary {
	padding:0.7em;
	font-size: 110%;
    background-color:#eaebed;
	color: #003300;
    /*border-width:1px;
	border-radius:4px;
	border-style:outset;*/
	border-style:none;
}
.btn {
	padding:0.5em;
	margin:0.25em;
	color: #003300;
	background-color: #eaebed;
	/*border-width:1px;
	border-radius:4px;
	border-style:outset;*/
	border-style:none;
}

.btn-wide {
	width:100%;
	padding:0.3em;
	//border-radius:1px;
	font-size: 100%;
	color: #003300;
    //border:1px solid #003300;
	background-color: #eaebed;
	//border:0;
	/*border-width:1px;
	border-radius:4px;
	border-style:outset;*/
	border-style:none;
}

input[type='button'].btn-primary:hover {
	cursor:pointer;
    background-color:#003300;
}

input[type='button'].btn-wide:hover {
	cursor:pointer;
    background-color:lightgrey;
    border-color:lightgrey;
}

input[type='button'].btn:hover, input[type='button'].btn-secondary:hover {
	cursor:pointer;
    background-color:lightgrey;
    border-color:lightgrey;
}

.btn-danger:hover {
	cursor:pointer;
	background-color: rgba(255,155,128,1)!important; 
	border-color: rgba(255,155,128,1)!important; 
	color: #003300;
}

.btn-danger {
	color:firebrick;
}

.btn-play {
	background-color:#006600!important;
	color: #ffffe4!important;
}

.btn-play:hover {
    background-color:#003300!important;
}


/*input:focus {
	outline-style:solid;
	 outline-color: lightblue;
    outline-width: 3px;
}*/

.ShowHide {
	/*border: 1px solid #003300;*/
}

input:focus {
	opacity: 1;
    box-shadow: 0 0 2pt 1pt lightblue;
	outline: 0;
}
input#Search:focus {
    //background-color:#ffffe0;
	//color:#003300;
}

input:active {
	outline:0!important;
}

#menu li a:focus{
outline:0;
}
.muted {
	color:grey;
	font-weight: normal;
}

.ForContinueWatching {
	display: none;
	visibility: hidden;
}

.ContinueWatching .ForContinueWatching {
	display: inline-block;
	visibility: visible;
}

.select-style {
    padding: 0.2em;
    border: 1px solid #003300;
    width: 160px;
    border-radius: 4px;
    background-color: #ffffcc;
	color: #003300;
	cursor: pointer;
}
div.episodeSeasonDiv .select-style:nth-child(1) {
	margin-right: 10px;
}